@keyframes fade_in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: "Arial";
}
main{
    min-height: calc(100vh - 80px - 200px);
}
header{
    background: #1e1e1e;
    width: 100%;
    height: 80px;
    color: white;
    position: absolute;
    top: 0;
    z-index: 10000;
}

h1{
    text-transform: uppercase;
    letter-spacing: 1.2px;
    opacity: 0;
    animation: fade_in 1s .5s forwards ease-in;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
}

nav{
    width: 100%;
    height: 80px;
    background: #d4d4d4;
    position: sticky;
    top: 0px;
    z-index: 100;
}
nav .menu{
    gap: 10px;
    list-style-type: none;
}
nav .menu li{
    cursor: pointer;
    transition: .2s;
    border-bottom: 1px solid transparent;
    opacity: .9;
}
nav .menu li:hover{
    opacity: 1;
    border-bottom: 1px solid #1e1e1e;
}
.screen{
    width: 100%;
    margin-top: 50px;
}

.screen-site{
    background: #1e1e1e;
    margin-top: 0 !important;
    height: calc(100vh - 80px);
    box-shadow: inset 0 -30px 20px rgba(0,0,0,.8);
}
.site{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.site-title{
    font-family: Bahnschrift;
    letter-spacing: initial;
    color: white;
    font-size: 48px;
    padding: 0 24px 6px 24px;
    margin-bottom: 6px;
    border-bottom: 1px solid white;
    opacity: 0;
    animation: fade_in 2s forwards ease-in;
}
.site-subtitle{
    font-family: Bahnschrift !important;
    letter-spacing: initial;
    font-size: 24px;
    color: #d4d4d4;
    opacity: 0;
    animation: fade_in 2s .5s forwards ease-in;
}

.screen-about{
    height: 500px;
    background: #efefef;
}
.about{
    align-items: start;
}
.about .img{
    background-image: url(me.jpg);
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    transform: skewX(10deg);
    height: 100%;
    width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.text-block{
    padding: 30px 40px;
}
.title{
    text-transform: uppercase;
    font-family: Bahnschrift;
    border-bottom: 1px solid #1e1e1e;
    padding-bottom: 6px;
    margin-bottom: 6px;
    opacity: 0;
    animation: fade_in 2s .5s forwards ease-in;
}
.text-block .text{
    text-align: justify;
    line-height: 1.5;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 6px;
    margin-bottom: 6px;
    font-family: "Bahnschrift";
}

.screen-skills{
    background: #1e1e1e;
    height: 400px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0);
}
.skills{
    width: 100%;
    height: initial;
}
.screen-skills .title{
    text-align: center;
    border-color: white;
}
.skills-list{
    list-style-type: none;
    padding: 10px;
    justify-content: space-around;
    font-family: Bahnschrift;
}
.skills-list li{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
}
.skills-list li span:first-child{
    font-weight: bold;
    padding: 0 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid white;
    font-size: 30px;
}
.skills-list li span:last-child{
    letter-spacing: 1.2px;
}

.strength li b{
    font-size: 20px;
}
.strength li p{
    font-size: 16px;
    color: #2f2f2f;
}
.right{
    text-align: right;
}

.footer{
    margin-top: 150px;
    height: 200px;
    background: #d4d4d4;
}
.inner_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Резюме */
.resume_table{
    border-collapse: collapse;
    width: 100%;
    opacity: 0;
    animation: fade_in 2s .5s forwards ease-in;
}
.resume_table thead tr{
    height: 50px;
}
.resume_table tbody tr{
    height: 100px;
    text-align: center;
}
.resume_table tbody tr:nth-child(odd){
    background: #efefef;
}
.circles{
display: flex;
align-items: center;
justify-content: flex-end;
}
.circle{
border-radius: 50%;
width:30px;
height: 30px;
border: 1px solid black;
}
/*Мои работы*/
.job{
    display: flex;
    align-items: start;
    margin-bottom: 30px;
    animation: fade_in 2s forwards ease-in;
}
.job:nth-child(odd){
    flex-direction: row-reverse;
}
.job .left, .job .right{
    width: 50%;
}
.job img{
    width: 100%;
}
form{
background-color:#ffffff;
width:70%;
margin:0 auto;
padding:15px;
}
